body {
  font-family: Arial;
  background: #121212;
  color: white;
  text-align: center;
}

input, button, select {
  padding: 10px;
  margin: 5px;
}

.card {
  background: #1e1e1e;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}
