body {
  background: #121212;
  color: white;
  font-family: Arial;
  text-align: center;
}

input, button, select {
  padding: 10px;
  margin: 5px;
}

.card {
  background: #1e1e1e;
  padding: 10px;
  margin: 10px auto;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 10px;
}
